.page {
  height: 90vh;
  background: radial-gradient(circle, rgba(104,228,152,0.4), rgba(255,255,255,1));
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 90%;
}

.heading {
  flex: 1;
  padding-left: 5rem;
  padding-right: 2rem;
}

.upload {
  flex: 1;
  padding-right: 5rem;
  padding-left: 2rem;
}

.quote {
  font-style: italic;
  color: #888;
}

.line {
  background-color: green;
  width: 6px;
  height: 75%;
  border-radius: 3px;
}

.heading h1 {
  color: #525252;
}

.next {
  display: flex;
  justify-content: flex-end;
  padding-right: 5rem;
}